<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Image</title>
</head>
<body>
    <center> <h1>Update Image</h1>
        <form method="POST" action="/user/updateUserImage" enctype="multipart/form-data">
            <label for="uname"><b>Username</b></label><br>
            <input type="text" name="username" placeholder="input username"><br>
            <label for="Image"><b>Image</b></label><br>
            <input type="file" name="newIimageUrl"><br>
            <label for="submit"><b>Submit</b></label><br>
            <input type="submit">
        </center>  
        </form>
</body>
</html>
